@model Nhom19_GameHoiLaDap.Models.CauHoi
<h2>Xóa câu hỏi</h2>
<h4>Bạn chắc chắn muốn xóa?</h4>
<div>
    <strong>@Model.NoiDung</strong>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="CauHoiId" />
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
