@model Nhom19_GameHoiLaDap.Models.CauHoi
<h2>Sửa câu hỏi</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="CauHoiId" />
    <div class="mb-2">
        <label asp-for="NoiDung" class="form-label"></label>
        <input asp-for="NoiDung" class="form-control" />
    </div>
    <div class="mb-2">
        <label asp-for="DapAnDung" class="form-label"></label>
        <input asp-for="DapAnDung" class="form-control" />
    </div>
    <div class="mb-2">
        <label asp-for="DapAnSai1" class="form-label"></label>
        <input asp-for="DapAnSai1" class="form-control" />
    </div>
    <div class="mb-2">
        <label asp-for="DapAnSai2" class="form-label"></label>
        <input asp-for="DapAnSai2" class="form-control" />
    </div>
    <div class="mb-2">
        <label asp-for="DapAnSai3" class="form-label"></label>
        <input asp-for="DapAnSai3" class="form-control" />
    </div>
    <div class="mb-2">
        <label asp-for="DoKho" class="form-label"></label>
        <input asp-for="DoKho" class="form-control" type="number" />
    </div>
    <button type="submit" class="btn btn-primary">Cập nhật</button>
</form>
