<h2>Đăng nhập</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<form asp-action="Login" method="post">
    <label>Tên đăng nhập</label>
    <input name="tenDangNhap" class="form-control" required />
    <label>Mật khẩu</label>
    <input name="matKhau" type="password" class="form-control" required />
    <br />
    <button type="submit" class="btn btn-success">Đăng nhập</button>
</form>
